<br><br>

  <h3>My Profile:</h3>
  <strong>Name:</strong> <%= @user.name %><br>
  <strong>Email:</strong> <%= @user.email %><br><br>
  <strong>My Searches:</strong>
  <br><br>
  <% @user.searches.each do |search| %>
  <ul id="<%= dom_id(search) %>">You searched: <%= link_to search.input, search, onclick: 'initialize()'%> at <%= search.updated_at.strftime("%I:%M%p on %m/%d/%Y") %>

    <%= form_for search do |f| %>  
    <%= link_to '(remove)', search, :method => :delete, data: {confirm: "Are you sure you want to delete this search?"}, remote: true %>
    <% end %></ul>
  <% end %>
  
  <% if @user == current_user %>
  <br><%= link_to 'Edit profile', edit_user_registration_path, :class => 'button' %>
  <% end %>



