
<!-- <h1> aptQuest </h1> -->
<div id="logo"><div id="hero"></div> <%= image_tag('logo3.png') %></div>

<!-- address search bar -->
    <div id="search-form">
      <form action="/searches/new" data-remote="true" method="get">
      <input id="address" name="auto" type="textbox" value="">
      <button id="search-button" onclick="updateMapAddress()">Enter Address</button>
    </div>

<!-- search selectors -->
<div id="container">
      <ul>
        <p><%= image_tag 'weights.png' %><button class="select-search" onclick="clearMarkers()" value="gym">Gym</button></p>
        <p><%= image_tag 'bar.png' %><button class="select-search" onclick="clearMarkers()" value="bar">Bars</button></p>
        <p><%= image_tag 'supermarket.png' %><button class="select-search" onclick="clearMarkers()" value="grocery_or_supermarket">Groceries</button></p>
        <p><%= image_tag 'cinema.png' %><button class="select-search" onclick="clearMarkers()" value="movie_theater">Movies</button></p>
        <p><%= image_tag 'forest2.png' %><button class="select-search" onclick="clearMarkers()" value="park">Parks</button></p>
        <p><%= image_tag 'bar.png' %><button class="select-search" onclick="clearMarkers()" value="liquor_store">Liquor</button></p>
        <p><%= image_tag 'subway.png' %><button class="select-search" onclick="clearMarkers()" value="subway_station">Subway</button></p>
        <p><%= image_tag 'restaurant.png' %><button class="select-search" onclick="clearMarkers()" value="restaurant">Restaurants</button></p>
        <p><%= image_tag 'drugstore.png' %><button class="select-search" onclick="clearMarkers()" value="pharmacy">Pharmacies</button></p>
        <p><%= image_tag 'medicine.png' %><button class="select-search" onclick="clearMarkers()" value="doctor">Doctor</button></p>
        <p><%= image_tag 'conveniencestore.png' %><button class="select-search" onclick="clearMarkers()" value="convenience_store">Convenience Store</button></p>
        <p><%= image_tag 'laundromat.png' %><button class="select-search" onclick="clearMarkers()" value="laundry">Laundry</button></p>
      </ul>
</div>

<!-- renders google map -->
<div id="map-canvas">
</div>


