
<!-- <h1> aptQuest </h1> -->
<h1> <%= image_tag('logo3.png') %></h1>
<div id="hero">

</div>

<!-- address search bar -->

    <div id="search-form">
      <form action="/searches/new" data-remote="true" method="get">
      <label for="name">Enter Address:</label>
      <input id="address" name="auto" type="textbox" value="">
      <button id="search-button" onclick="updateMapAddress()">Enter Address</button>
    </div>



<% if false %>
<ul>
    <li><%= @gym %> - <%= @gym_dis.meter.convert_to('mile') %>s  
    <li><%= @groceries %>  - <%= @gym_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @alcohol %>  - <%= @alcohol_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @haircut %>  - <%= @haircut_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @library %>  - <%= @library_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @cafe %>  - <%= @cafe_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @movies %> - <%= @movies_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @bars %> - <%= @bars_dis.meter.convert_to('mile') %>s  </li>
    <li><%= @park %> - <%= @park_dis.meter.convert_to('mile') %>s  </li>
</ul>
<% end %>





<!-- renders google map -->
<div id="map-canvas">
</div>

<div id="value">
</div>

