
<!-- <h1> aptQuest </h1> -->
<h1> <%= image_tag('logo3.png') %></h1>
<div id="hero">
<div id="map">
</div>


<div id="search-form">
  <%= form_tag "/searches/new", method: :get, remote: true do  %>
    <%= label_tag :name, "Enter Address" %>
    <%= text_field_tag :auto, "", id: "autocomplete" %>
    <%= button_tag "Search",  id: "search-button" %>
  <% end %>
</div>

<div id="map-canvas">
</div>

<div id="value">
</div>

